.swiper-wrapper {
    padding-bottom: 0px;
}

.swiper {
  overflow: visible;
  max-width: 360px; /* Default (mobile first) */
  min-width: 300px;
  margin-right: 0;
  margin-left: 0;
}

/* From small screens (sm) */
@media (min-width: 640px) {
  .swiper {
    max-width: 420px;
  }
}

/* From medium screens (md) */
@media (min-width: 768px) {
  .swiper {
    max-width: 480px;
  }
}

/* From large screens (lg) */
@media (min-width: 1024px) {
  .swiper {
    max-width: 500px;
  }
}

.swiper-button-disabled {
  opacity: .5;
  cursor: not-allowed;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  /* background-color: #2F4858; */
  font-size: 30px;
}

.swiper-button-prev,
.swiper-button-next {
  top: 420px;
  width: 60px;
  height: 60px;
  transition: linear 150ms;
}

.swiper-button-next {
  left: 20%;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #4285f4;
  color: #fff;
  border-radius: 50%;
}